{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

    <div style="height: 400px;">
        {{ render_chart(chart) }}
    </div>



    <div data-controller="test">Hello Stimulus</div>

{% endblock %}